@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: "Poppins", serif;
    font-style: normal;
    box-sizing: border-box;
  }
:root{
     --bg_color:#d6e1b6;
     --second_color:#fad6be;
     --therd_color:#faa96b;
     --forth_color:#f5f4f5;
     --button:#1d1e1e;
     --cart_color:#b73b52;
     --signForm:#cbd7d1;
     --blue:#749cb5;
     --golden:#f3c331;
     --dark:#1d1e1e;
     --gray:#606868;
     --undergray:#95a1a1;
     --blueunder:#cbd7d1;
     --purple:#bab8f3;
     --highGray:#4c4c4d;
     --greenbg:#617150;
     --leamen:#c0e4a4;
     --leamentran:#c0e4a454;
     --blaksecond:#1d1d1f;
     --broun:#944535;
     --lightbroune:#fad6a6;
     --blueblack:#1d2955;
     --ligntblueblack:#ffecfb;
     --darkgreen:#1f4d3b;
     --darkgreentra:#08ff291c;
     --lightgraye:#7f7863;
     


 }