
.main_auth_contener{

     background-color: var(--button);
     width: 50%;
     height: 100vh;
     color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    
}
.main_auth_contener h1{
         font-size: 40px;
}
.Allconten{   
display: flex;
align-items: center;
justify-content: space-evenly;



}
.goldeDecor{
position: absolute;
bottom: 60px;
left: 0px;
width:50%;
height: 5%;
background-color: var(--button);
box-shadow: 0 10px 10px rgba(255, 252, 252, 0.13);

}
.goldeDecor img{
     height: 300px;
     width: 300px;
}
.Language{
     position:absolute;
     top: 6%;
     left: 50%;
     font-size: 20px;
     cursor: pointer;
    
}
.ListOfLanguage{
     box-shadow: 0px 1px 10px rgba(255, 235, 205, 0.568);
    width: 170px;
     background-color: rgba(248, 255, 241, 0.952);
     color: black;
     border-radius: 10px;
     overflow: hidden;
}
.ListOfLanguage p{
     padding: 10px;
     text-align: center;
        
}
.ListOfLanguage p:hover{
     background-color: #fff;
  
}
.activeLAnguage{
     display: none;
}


@media screen and (max-width:879px) {
     .main_auth_contener h1{
          font-size: 20px;
 }
     .Allconten{   
          display: flex;
          flex-direction: column;
          }
          .main_auth_contener{

               background-color: black;
               width: 100%;
               height: 130px;
               display: flex;
               justify-content: space-around;
               flex-direction: column;
              
               color: #fff;
               font-size: 22px;
              
          }
          .goldeDecor{
          display: none;
          }
         
   
}