
.signup_contener,.signUp_form{
     display: flex;
     gap: 20px;
     flex-direction: column;
     width: 300px;
     height: 500px;
     font-size: 20px;

}
.signUp_form{
     background-color: var(--signForm);
     padding: 30px 30px;
     border-radius: 10px;
}
.signUp_form input{
     padding: 6px;
     border: none;
     outline: none;
}
.signUp_form button{
     padding: 6px;
     border: none;
     outline: none;
     background: var(--therd_color);
     cursor: pointer;

}
.Loedbtn{
     display: flex;
     align-items: center;
     justify-content: center;
     height: 35px;
     font-size: 20px;

}