.UserLAyerTop{
     background-color: var(--blueunder);
     /* box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.39); */
     z-index: 222;
     padding: 10px;
}
.UserLAyerTop .header_left_side{
     display: flex;
     align-items: center;
     gap: 10px;
}
.UserLAyerTop .logout_buttons{
     display: flex;
     align-items: center;
     gap: 20px;
     padding: 2px 20px;
     cursor: pointer;
     background-color: var(--therd_color);
     color:black;
     font-size: 20px;
     border: none;
}
/* Add this to your CSS file */

.sidebar {
     position: fixed;
     top: 70px;
     left: 0;
     width: 200px;
     height: 100vh;
     background-color: var(--signForm);
     transition: transform 0.3s ease;
     z-index: 1000;
   }
   
   .sidebar.closed {
     transform: translateX(-85%);
   }
   
   .sidebar-content {
     padding: 20px;
     margin-top: 80px;
   }